<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./assets/header.css">
</head>
<body>
    <span id="container-pai">
        <div class="container">
            <header class="header">header</header>
            <div class="menu">
                <menu class="left">menu esquerdo</menu>
                <main id="main">conteúdo</main>
                <menu class="right">menu direito</menu>
            </div>
           
        </div>
      
    </span>
    
</body>
</html>