<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletim</title>
    <link rel="stylesheet" href="./Exer-03/assets/style.css">
</head>
<body>
    <main id="main">
        <span class="boletim">
            <h1>Boletim</h1>
            <h3>Adicione os dados dos alunos</h3>

            <span id="data">
                <div class="dados">
                    <input type="text" id="name" placeholder="nome" autocomplete="off">
                    <input type="text" id="1-semestre" placeholder=" Nota do 1º semestre" autocomplete="off">
                    <input type="text" id="2-semestre" placeholder="Nota do 2º semestre" autocomplete="off">
                    <input type="text" id="final" placeholder="Nota final" autocomplete="off">
                    <input type="text" id="freq" placeholder="Porcentagem frequência" autocomplete="off">
                    
                    <input type="submit" class="add"></button>
                </div>
            </span>   
            
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>1º Semestre</th>
                            <th>2º Semestre</th>
                            <th>Nota Final</th>
                            <th>Frequencia</th>
                        </tr>
                        
                    </thead>

                    <tbbody id="body">
                        <tr>
                            <td>teste</td>
                        </tr>
                    </tbbody>
                </table>
           
        </span>
    </main>

    <script src="./Exer-03/assets/script.js"></script>
</body>
</html>