:root {
    --primary-color: rgb(255, 255, 255);  
  }
  

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
#mesa {
    width: 80vw;
    height: 11vh;
}
#main {
    background-color: var(--primary-color);
   margin: 100px 20px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: auto;
   box-shadow: 10px 20px 5rem rgb(92, 91, 89);

}


.button{
    border-radius: 4px;
    padding: 10px 0;
    background-color: rgb(208, 218, 214);
    display: flex;
    align-items: center;
    min-width: 80vw;
    justify-content: center;
}

button{
    color: white;
    background-color: darkgray;
    border: 0 solid;
    margin: 0 5px;
    border-radius: 4px;
    padding: 5px;
    transition: all 100ms ease-in-out;
}

button:hover{
    cursor: pointer;
    background-color: rgb(152, 220, 50);
    transform: scale(105%);
}

#data{
    display: flex;
    align-items: center;
    justify-content: center;

}

.dados{
    background-color: var(--primary-color);
    margin-bottom: 8px;
    padding: 10px 0px;
    padding-bottom: 10px;
    width: 80vw;
    border-radius: 5px;
    box-shadow: 5px 5px 0.9rem rgb(92, 91, 89);
   
  
}

.dados input{
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 2px;
    border: 0;
    padding: 1.5px;
    max-width: 110px;
    border: 1px solid rgb(123, 122, 122);

}


.biblio-container {
    /* background-color: rgb(48, 48, 48); */
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
    /* padding-left: 10px; */
    /* font-weight: bold; */
    width: 80vw;
    justify-content: space-around;
    width: 80vw;
    margin: 100px;
    color: rgb(68, 68, 68);
    border: 1px solid black;

   
}

.biblio-container thead {
    background-color: rgb(208, 218, 214);
    width: 80vw;
    margin: 100px;
    
    
}

.add {
    width: 50px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
}

#biblio-body {
    background-color: var(--primary-color);
    color: rgb(68, 68, 68);
    
   
}

#biblio-body tr td{
    padding: 0.5rem;
    border: 0.1px solid black
    
}