<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2</title>
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
</head>
<body>

    <div id="container-pai">

        <div class="topo">
            <header class="header"><h3>topo</h3></header>
            <div class="menu-superior">
                <p>menu principal</p> 
            </div>
        </div>

        <main id="main">
            <nav class="nav">
                
                
                <div id="lateral">
                    <span class="material-symbols-outlined">
                        menu
                        </span>
                    <ul class="lista">
                        <li><a href=”#”>Link1</a></li>
                        <li><a href=”#”>Link2</a></li>
                        <li><a href=”#”>Link3</a></li>
                        <li><a href=”#”>Link4</a></li>
                        <li><a href=”#”>Link5</a></li>
                    </ul>

                </div>
                
                <p>Coluna de navegação</p>
                
            </nav>

            <div id="centro">
                <div id="m-principal">
                    <ul class="lista2">
                        <li><a href=”#”>Link1</a></li>
                        <li><a href=”#”>Link2</a></li>
                        <li><a href=”#”>Link3</a></li>
                        <li><a href=”#”>Link4</a></li>
                        <li><a href=”#”>Link5</a></li>
                    </ul>
                </div>
    
                <div class="principal">                
                    <p>Coluna principal</p>          
                    
    
                    <div id="form">
                        <div class="form">
                            <p>Nome</p>
                            <input type="text" placeholder="insira seu nome completo">
                            <p>email</p>
                            <input type="text" placeholder="insira seu endereço de email">
                            <p>telefone</p>
                            <input type="text" placeholder="insira seu telefone">
                        </div>
                        <p>mensagem</p>
                            <input type="text" placeholder="insira sua mensagem" class="mensagem">
                        
                        
                    
                        <label class="check"> 
                            <input type="checkbox">
                            <span class="checkmark"></span><p class="termos">Concordo com os <a>termos e condições</a></p>
                        </label>
    
                        <button class="button">Enviar</button>
                        
                    </div>
    
                </div>

            </div>

            

            <div class="apoio">
                <p>coluna de apoio</p>
            </div>
        </main>



        <footer><p>...rodapé...</p></footer>
    </div>
    
</body>
</html>